
.body{ /* propriedades css do corpo do site */
     background-color: black;  /* cor de fundo da página */
     background-image: linear-gradient(to bottom, black 0%, black 33%, grey 33%, grey 66%, black 66%, black 100%); /* código pra dividir a página em cores */
    min-height: 300vh; /* código para ditar o tamanho mínimo das divisões de cores. (abaixo disso a cor da "segunda página "toca" nos elementos da "primeira página" */ 
    margin-left: -40px;
    z-index: 998;
    overflow-x: hidden;
 
}

.h2{ /* texto abaixo da logo studio soll */
    text-align: center; /* centralizar o texto no meio da tela */
    font-family: Arial, Helvetica, sans-serif; /* o estilo de fonte do texto */
    font-size: 50px; /* o tamanho da fonte */
    color: #9B794E; /* a cor das letras */
}

.h1logo{ /* propriedades de css da logo studio soll */
    display: block; /*centralizar a imagem no meio da tela */
    margin-left: auto; /*margem automatica do lado esquerdo */
    margin-right: auto; /*margem automatica do lado direito*/
    width: 180px; /* largura da imagem */
    height: 150px; /* altura da imagem */
}

.title{
    color: white;
}

.h3video{
    text-align: center; /* código pra alinhar o video do youtube no centro */
}

#BOTAO {
    display: none; /* Enquanto o usuário não mexe a tela, ele fica escondido */
    position: fixed; /* Botão fica colado */
    bottom: 15px; /* Coloca o botão na parte debaixo da página */
    right: 30px; /* deixa o botão com 30px de distância do lado direito da tela */
    z-index: 99; /* Pra ter certeza que o botão nao vá ficar escondido abaixo de outro elemento na página */
    border: none; /* Remove as bordas */
    outline: none; /* Remove outline */
    background: rgba(0, 0, 0, 0.8); /* Cor de fundo do botão */
    font-family: 'Poppings', sans-serif;
    font-weight: bolder;
    color: #878681; /* Cor do texto */
    cursor: pointer; /* Adiciona o ponteiro do mouse ao passar o mesmo em cima */
    padding: 10px; /* adiciona um espaço para não tocar nas palavras */
    border-radius: 10px; /* Cantos arredondados */
    font-size: 25px; /* aumnentar tamanho da fonte */
    z-index: 999;
  }
  
  #BOTAO:hover {
    background-color: #878681; /* Mostra outra cor quando passam o mouse por cima */
    background-image: linear-gradient(45deg, black , #9B794E); /* cor da caixa do botão quando passam o mouse por cima */
    color: black; /* cor das letras do botao quando se passa o mouse por cima */
    transition: .3s;
    z-index: 999;
  
  }
  

  .box{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poppings', sans-serif;
    margin-left: 50%;
    position: fixed;
    bottom: -8px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8); /* cor do fundo da caixa, sendo o ultimo valor à direita a opacidade*/
    border-radius: 10px;
    z-index: 99;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 999;
    
  }

 nav a {
  padding: 0 10px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #878681;
  z-index: 1;
  

 }

nav span{
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 85px;
  height: 100%;
  border-radius: 10px;
  transition: .2s;
  background: black;
}

nav:hover span{
  visibility: visible;
}

nav a:nth-child(1):hover~span{
  left: 0;
}

nav a:nth-child(2):hover~span{
  left: 98px;
}

nav a:nth-child(3):hover~span{
  left: 195px;
  width: 113px;
}
 
h1 { margin:150px auto 30px auto; text-align:center;}
.container {
  position: relative;
  background: transparent;
  max-width: 2000px;
  min-width: 2000px;
  height: 610px;
  margin: 0 auto;
  overflow: hidden;
  top: 300px;
  left: 0px;
  z-index: 99;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 1000px;
  height: 600px;
  background: #ED5565;
  margin: 5px;
  border-radius:3px;
  transition: transform 0.5s, background 0.3s ease-in-out;
  z-index: 99;
}

.active {
  background: blue;
  transform: translate(-50%, -50%) scale(1.1) !important;
}
.card:nth-child(1) { transform: translate(-170%, -50%); }

.card:nth-child(2) { transform: translate(-50%, -50%); }

.card:nth-child(3) { transform: translate(70%, -50%); }

.card:nth-child(4) { transform: translate(190%, -50%); }



.next .card:nth-child(1) { transform: translate(-290%, -50%); }

.next .card:nth-child(2) { transform: translate(-170%, -50%); }

.next .card:nth-child(3) { transform: translate(-50%, -50%); }

.next .card:nth-child(4) { transform: translate(70%, -50%); }

.reset .card { transition: none; }

.reset .card .card:nth-child(1) { transform: translate(-170%, -50%); }

.reset .card .card:nth-child(2) { transform: translate(-50%, -50%); }

.reset .card .card:nth-child(3) { transform: translate(70%, -50%); }

.reset .card .card:nth-child(4) { transform: translate(190%, -50%); }

 
  